@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");
/* utility class */
.title-text {
	font-size: 3em;
	font-weight: bold;
	color: #ffff;
}
.description-text {
	font-size: 1em;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.5);
}
.primary-btn {
	background-color: #e6533c;
	border-radius: 40px;
	height: 50px;
	width: 200px;
	padding: 15px auto;
	border: none;
	font-size: 1em;
	font-weight: 600;
	color: rgba(255, 255, 255, 1);
	cursor: pointer;
}

.nav-description-text {
	font-size: 1em;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.842);
}
.bg-color {
	background-color: black;
	background-image: radial-gradient(
		50% at 50%,
		rgb(17, 17, 17),
		rgba(119, 119, 119, 0.1) 100%
	);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/* body part design */
body {
	font-family: "Inter", sans-serif;
	background-color: black;
}
/* header part design */
header {
	min-height: 100vh;
}

/* nav part design */
nav {
	width: 100%;
	margin: 0 auto;

	display: flex;
	justify-content: space-around;
	padding: 10px;
	align-items: center;
}
.nav-title {
	color: #e6533c;
	font-size: 2.2em;
	font-weight: bolder;
	font-style: italic;
}
.nav-description {
	gap: 2em;
	padding: 5px 8px;
	display: flex;
	flex-direction: row;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 40px;
}
.nav-btn {
	background-color: #e6533c;

	border-radius: 40px;
	width: 80px;
	text-align: center;
	font-weight: bold;
}
.nav-description > span {
	padding: 5px;

	cursor: pointer;
}

/* nav-banner part style */
.banner {
	display: flex;
	width: 70%;
	justify-content: space-around;
	margin: 0 auto;
	align-items: center;
}
.banner-container {
	width: 70%;
	padding: 10px;
}

.banner-title {
	color: #ffff;
	font-size: 4em;
	font-weight: bolder;
	line-height: 1em;
}
.banner-title > span {
	font-family: "Miama", sans-serif;
	font-style: italic;
	font-weight: 400;
}
.banner-description {
	margin-top: 15px;
	margin-bottom: 20px;
}

.builder-img {
	width: 100%;
}
.banner-btn2 {
	margin-left: 10px;
	border: 2px solid rgba(255, 255, 255, 0.905);
	background-color: transparent;
}
.banner-cart1,
.banner-cart2 {
	background-color: rgba(255, 255, 255, 0.2);
	padding: 10px;
	border-radius: 12px;
	height: 75px;
	width: 180px;
	font-size: 14px;
}
.banner-cart1 > span {
	font-size: 2em;
	font-weight: bold;
	color: #ffff;
}
.cart2 {
	font-size: 1.5em;
	font-weight: bold;
	color: #ffff;
}
.circle {
	width: 30px;
	background-color: #e6533c;
	height: 30px;
	border-radius: 50%;
}
.banner-cart2 {
	position: absolute;
	bottom: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	right: 450px;
}
.banner-cart1 {
	position: absolute;
	right: 150px;
	top: 180px;
}
/* habit part design */
.habit {
	width: 100%;
	text-align: center;
}
.habit-container {
	display: flex;
	margin: 50px auto;
	width: 80%;
	justify-content: space-evenly;
}
.habit-title {
	margin-top: 50px;
	margin-bottom: 10px;
}

.cart1-img,
.cart2-img,
.cart3-img,
.cart4-img {
	border-radius: 50%;
}
.cart1-title,
.cart2-title,
.cart3-title,
.cart4-title {
	color: #ffff;
	font-size: 1.2em;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 10px;
}
.cart1-description,
.cart2-description,
.cart3-description,
.cart4-description {
	color: rgba(255, 255, 255, 0.5);
	font-size: 14px;
	font-weight: 400;
}
.habit-cart1,
.habit-cart2,
.habit-cart3,
.habit-cart4 {
	width: 20%;
}
/* run section design */
.run {
	width: 70%;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 100px auto;
	display: flex;
	padding: 20px;
	justify-content: space-between;
	border-radius: 12px;
	align-items: center;
}
.run-container {
	width: 50%;
}
.run-img {
	height: 300px;
	border-radius: 12px;
}
.run-description {
	margin-top: 15px;
	margin-bottom: 20px;
}

/* bmi section design */

.bmi-container {
	width: 50%;
	margin: 0 auto;
}
.bmi-description {
	margin-top: 10px;
	margin-bottom: 100px;
}
.bmi-calculator-container {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.1);

	display: flex;
	justify-content: space-around;
}
.calculator-chart-title,
.calculator-title {
	color: #ffff;
	font-size: 1.8em;
	font-weight: bold;
}
.calculator-chart-table {
	height: 70px;
}
table,
th,
td {
	border: 1px solid rgba(255, 255, 255, 0.842);
	border-collapse: collapse;
	padding: 20px;
	font-size: 14px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.5);
}
th {
	font-size: 1em;
	font-weight: 600;
	color: #ffff;
	text-align: left;
}
.calculator-chart,
.calculator {
	width: 70%;
	padding: 20px 50px;
}
.calculator-chart-title {
	margin-bottom: 40px;
}
.calculator-title {
	margin-bottom: 10px;
}
.calculator-table {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	width: 50%;
}
.box1 {
	height: 40px;
	width: 250px;

	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 7px;
	padding: 10px;
	font-size: 1em;
	font-weight: 600;
	border: 0;
	color: rgba(255, 255, 255, 0.626);
}
.calculator-table {
	margin-top: 40px;
	margin-bottom: 20px;
}
#box5 {
	width: 205%;
}

/* team part design */

@media screen and (max-width: 576px) {
	nav {
		flex-direction: column;
		width: 70%;
		align-items: flex-start;
		margin-left: 60px;
		margin-right: 0;
	}

	.nav-description {
		display: none;
	}
	.banner {
		width: 100%;
		flex-direction: column;
	}
	.banner-container {
		margin-left: -70px;
	}
	.banner-btn {
		display: flex;
	}
	.banner-cart1 {
		top: 500px;
		right: 100px;
	}
	.banner-cart2 {
		bottom: 300px;
		left: 70px;
	}
	.habit-container {
		flex-direction: column;
		width: 30%;
	}

	.habit-cart1,
	.habit-cart2,
	.habit-cart3,
	.habit-cart4 {
		width: 100%;
		margin-bottom: 15px;
	}
	.run {
		flex-direction: column;
		margin: 10px 90px;
	}

	.run-container {
		width: 100%;
	}

	.run-img {
		width: 100%;
		margin: 20px;
	}
	.run-btn {
		width: 100%;
	}
	.bmi-calculator-container {
		flex-direction: column;
		width: 100%;
	}

	.bmi-container {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
		padding: 20px;
		margin-bottom: -50px;
		margin-top: 20px;
	}
	.calculator {
		width: 100%;
	}
}
