@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");
/* utility class */
.title-text {
	font-size: 3em;
	font-weight: bold;
	color: #ffff;
}
.description-text {
	font-size: 1em;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.5);
}
.primary-btn {
	background-color: #e6533c;
	border-radius: 40px;
	height: 50px;
	width: 200px;
	padding: 15px auto;
	border: none;
	font-size: 1em;
	font-weight: 600;
	color: rgba(255, 255, 255, 1);
	cursor: pointer;
}

.nav-description-text {
	font-size: 1em;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.842);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/* body part design */
body {
	font-family: "Inter", sans-serif;
	background-color: black;
}
/* header part design */
header {
	min-height: 100vh;

	background: rgb(0, 0, 0);
	background: radial-gradient(
		circle,
		rgb(0, 0, 0) 0%,
		rgba(68, 67, 67, 0.363) 70%
	);
	width: 100%;
}

/* nav part design */

nav {
	width: 100%;
	margin: 0 auto;

	display: flex;
	justify-content: space-around;
	padding: 10px;
	align-items: center;
}
.nav-title,
.foot1-title {
	color: #e6533c;
	font-size: 3em;
	font-weight: bolder;
	font-style: italic;
}
.nav-description {
	gap: 2em;
	padding: 5px 8px;
	display: flex;
	flex-direction: row;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 40px;
}

.nav-btn {
	background-color: #e6533c;

	border-radius: 40px;
	width: 80px;
	text-align: center;
	font-weight: bold;
}

.nav-description > span {
	padding: 5px;

	cursor: pointer;
}
.menu-icon {
	color: aliceblue;
	display: none;
}
/* nav-banner part style */
.banner {
	display: flex;
	width: 70%;
	justify-content: space-around;
	margin: 0 auto;
	align-items: center;
	gap: 130px;
}
.banner-container {
	width: 70%;
	padding: 10px;
}

.banner-title {
	color: #ffff;
	font-size: 4em;
	font-weight: bolder;
	line-height: 1em;
}
.banner-title > span {
	font-family: "Miama", sans-serif;
	font-style: italic;
	font-weight: 400;
}
.banner-description {
	margin-top: 15px;
	margin-bottom: 20px;
}
.banner-img {
	position: relative;
}
.builder-img {
	width: 100%;
}
.banner-btn2 {
	margin-left: 10px;
	border: 2px solid rgba(255, 255, 255, 0.905);
	background-color: transparent;
}
.banner-cart1,
.banner-cart2 {
	background-color: rgba(255, 255, 255, 0.2);
	padding: 10px;
	border-radius: 12px;
	height: 75px;
	width: 50%;
	font-size: 12px;
	backdrop-filter: blur(4px);
	border: 1px solid rgba(255, 255, 255, 0.2);
}
.banner-cart1 > span {
	font-size: 2em;
	font-weight: bold;
	color: #ffff;
}
.cart2 {
	font-size: 1.5em;
	font-weight: bold;
	color: #ffff;
}
.circle {
	width: 30px;
	background-color: #e6533c;
	height: 30px;
	border-radius: 50%;
}
.circle-btn {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 16px solid white;
	transform: rotate(90deg);
	margin: 7px;
}
.banner-cart2 {
	position: absolute;
	bottom: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	left: -30px;
}
.banner-cart1 {
	position: absolute;
	right: -20px;
	top: 100px;
}
/* habit part design */
.habit {
	width: 100%;
	text-align: center;
}
.habit-container {
	display: flex;
	margin: 50px auto;
	width: 80%;
	justify-content: space-evenly;
}
.habit-title {
	margin-top: 50px;
	margin-bottom: 10px;
}

.cart1-img,
.cart2-img,
.cart3-img,
.cart4-img {
	border-radius: 50%;
}
.cart1-title,
.cart2-title,
.cart3-title,
.cart4-title {
	color: #ffff;
	font-size: 1.2em;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 10px;
}
.cart1-description,
.cart2-description,
.cart3-description,
.cart4-description {
	color: rgba(255, 255, 255, 0.5);
	font-size: 14px;
	font-weight: 400;
}
.habit-cart1,
.habit-cart2,
.habit-cart3,
.habit-cart4 {
	width: 20%;
}
/* run section design */
.run {
	width: 70%;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 100px auto;
	display: flex;
	padding: 20px;
	justify-content: space-between;
	border-radius: 12px;
	align-items: center;
}
.run-container {
	width: 50%;
}
.run-img {
	height: 300px;
	border-radius: 12px;
}
.run-description {
	margin-top: 15px;
	margin-bottom: 20px;
}

/* bmi section design */
.bmi {
	width: 100%;
	height: auto;
	margin: 0 aut0;
}

.bmi-container {
	width: 50%;
	margin: 0 auto;
}
.bmi-description {
	margin-top: 10px;
	margin-bottom: 100px;
}
.bmi-calculator-container {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.1);

	display: flex;
	justify-content: space-around;
	justify-items: center;
	align-items: center;
}
.calculator-chart-title,
.calculator-title {
	color: #ffff;
	font-size: 1.8em;
	font-weight: bold;
}
.calculator-chart-table {
	height: 70px;
}
table,
th,
td {
	border: 1px solid rgba(255, 255, 255, 0.842);
	border-collapse: collapse;
	padding: 20px;
	font-size: 14px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.5);
}
th {
	font-size: 1em;
	font-weight: 600;
	color: #ffff;
	text-align: left;
}
.calculator-chart {
	width: 100%;
	padding: 20px 50px;
}
.calculator {
	padding: 20px 50px;
}
.calculator-chart-title {
	margin-bottom: 40px;
}
.calculator-title {
	margin-bottom: 10px;
}
.calculator-table {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	width: 50%;
	margin-top: 40px;
	margin-bottom: 20px;
	width: 50%;
}
.box1 {
	height: 40px;
	width: 250px;

	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 7px;
	padding: 10px;
	font-size: 1em;
	font-weight: 600;
	border: 0;
	color: rgba(255, 255, 255, 0.626);
}

#box5 {
	width: 205%;
}

/* team part design */

.team1,
.team2,
.team3,
.team4,
.team5,
.team6 {
	width: 100%;
}
.team-img {
	border-radius: 12px;
	background-size: cover;
	width: 100%;
	height: 200px;
}
.team-container {
	width: 70%;
	margin: 50px auto;
	background-color: rgba(255, 255, 255, 0.1);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 25px;
	padding: 30px;
	border-radius: 10px;
}
.team {
	text-align: center;
}
.team-title {
	margin-top: 50px;
	margin-bottom: 20px;
}
.img-name {
	font-size: 1em;
	font-weight: bold;
	color: #ffff;
	margin-top: -50px;
	text-align: left;
	padding-left: 10px;
}
.img-description {
	font-size: 12px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.626);
	text-align: left;
	padding-left: 10px;
}
/* footer style */
.foot {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.1);
}

.foot-container {
	display: flex;

	justify-content: space-around;
	padding: 40px;
}
.foot2-title,
.foot3-title {
	font-size: 1.5em;
	color: #ffff;
	font-weight: 700;
	margin-bottom: 20px;
}
.foot1-description {
	color: rgba(255, 255, 255, 0.626);
	font-size: 1em;
	margin-top: 10px;
}
.foot2-description,
.foot3-description {
	color: rgba(255, 255, 255, 0.626);
	font-size: 1.2em;
	font-weight: 400;
	margin-top: 10px;
}
.copy-right {
	font-size: 20px;
	color: rgba(255, 255, 255, 0.626);
	font-weight: 400;
	text-align: center;
	margin-top: 10px;
	padding: 20px;
}
hr {
	width: 70%;
	margin-left: 15%;
	border: 1px solid rgba(255, 255, 255, 0.126);
}
@media screen and (max-width: 576px) {
	header {
		margin: 0 auto;
	}
	nav {
		flex-direction: column;
		width: 70%;
		align-items: flex-start;
		margin-left: 0;
		margin-right: 0;
	}

	.nav-description {
		display: none;
	}
	.nav-title {
		display: flex;
		justify-content: space-between;
		width: 100%;
		gap: 65%;
	}
	.menu-icon {
		display: inline;
	}

	.banner {
		width: 100%;
		flex-direction: column;
	}
	.banner-img {
		margin-top: -100px;
	}
	.banner-container {
		width: 100%;
	}
	.banner-btn {
		display: flex;
	}
	.banner-cart1 {
		width: 40%;
	}
	.banner-cart2 {
		width: 40%;
	}
	.habit-container {
		flex-direction: column;
		width: 50%;
	}

	.habit-cart1,
	.habit-cart2,
	.habit-cart3,
	.habit-cart4 {
		width: 100%;
		margin-bottom: 15px;
	}
	.run {
		flex-direction: column;
	}

	.run-container {
		width: 100%;
	}

	.run-img {
		width: 100%;
		margin: 20px;
		height: 100%;
	}
	.run-btn {
		width: 100%;
	}

	.bmi-calculator-container {
		flex-direction: column;
		width: 100%;
	}

	.bmi-container {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
		padding: 20px;
		margin-bottom: -50px;
		margin-top: 20px;
	}
	.calculator {
		width: 100%;
	}
	.calculator-table {
		width: 100%;
	}
	.box1 {
		width: 100%;
	}

	.team-container {
		grid-template-columns: repeat(1, 1fr);
	}
	.team-img {
		height: 100%;
	}
	.foot {
		height: 100%;
		width: 100%;
	}
	.foot-container {
		flex-direction: column;
		gap: 20px;
	}
	hr {
		width: 90%;
		margin-left: 0;
		margin-left: 5%;
	}
}
